
body {
	margin: 0;
}

.navbar {
	background-color: red; 
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	position: sticky;
	top:0;
	z-index:10000;
}
.navbar-brand {
	display: flex;
	align-items: center;
	color: white; 
	font-size: 24px;
	font-weight: bold;
	margin-right: 20px;
	text-decoration: none;
}
	
.nav-logo {
	width:40px;
	height: auto;
	margin-right: 10px;
}

.navbar-brand:hover{
	background-color: white;
	color: red;
	border-radius: 5px;
	padding: 2px 10px;
}


.nav-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}
.nav-links li {
	margin-left: 20px;
}
.nav-links a {
	color: rgb(255, 255, 255); 
	text-decoration: none;
	font-size: 18px;
	padding: 5px 10px;
}

.nav-links a:hover {
	background-color: white;
	color: red;
	border-radius: 5px;
}
@font-face {
	font-family: "jost";
	src: url("C:\Users\mello\Downloads\Jost\Jost-VariableFont_wght.ttf"); 
}
html{
	font-family: jost, sans-serif;
}
.home {
	background-image: url("https://img.freepik.com/premium-photo/bookshelves-library-with-old-books-3d-render-3d-illustration_717906-963.jpg");
	background-size: cover;
	padding: 100px 50px;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top:100px;
	padding-bottom: 100px;
}
.home h1 {
	background-color: rgba(5,5,5,0.4);
	color: white;
	font-size: 48px;
	margin-top: 125px;
	margin-bottom: 125px;
	padding: 0 25px;
	border-radius: 10px;
}
.home p {
	background-color: rgba(5,5,5,0.6);
	color: lightgrey;
	font-size: 28px;
	max-width: 800px;
	margin-top:100px;
	margin-bottom: 100px;
	padding: 0 30px;
	border-radius: 10px;
}
#res {
	background-color: rgba(0,0,0,0);
	font-size: 28px;
	max-width: 800px;
	margin-bottom: 125px;
}
.home a {
	background-color: rgba(5,5,5,0.6);
	font-size: 24px;
	color: lightblue;
	margin-top:100px;
	margin-bottom: 100px;
	padding: 0 10px;
	border-radius: 10px;

}
.about{
	display: inline-flex;
	flex-direction: column;
	flex-flow: column wrap;
	max-width: 95%;
}
.b-img{
	background-image: url("img1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 100px 50px;
	max-width: 100%;
	height:1000px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.about h2 {
	background-color: rgba(5,5,5,0.25);
	display:flex;
	justify-content: center;
    font-size: 64px;
    margin-bottom: 200px;
	padding: 0 30px;
	color: white;
	border-radius: 10px;
}
.abt-2 {
	background-color: rgba(5,5,5,0.4);
	display:flex;
	flex-flow: column;
	align-items: center;
    font-size: 28px;
	max-width: 1250px;
	color: lightgrey;
	padding: 0 20px;
	border-radius: 10px;
}
.abt-2 a {
	color: lightblue;
}
.cta-button:hover {
    background-color: #454545;
	padding: 0 10px;
	border-radius: 7px;
}

.cta-button{
	font-style: italic;
}

#res:hover {
    background-color: rgba(70,70,70,0.5);
	padding: 0 10px;
	border-radius: 7px;
}

.events {
    padding: 50px 20px;
    background-image: url("img3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    max-width: 100%;
	padding: 100px 50px;
	height: 900px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color:white;
}

.events h2 {
	background-color: rgba(5,5,5,0.4);
    font-size: 52px;
    margin-bottom: 200px;
	border-radius:10px;
	padding: 0 50px;
}

.events ul {
	background-color: rgba(5,5,5,0.5);
    list-style-type: none;
	color: darkgrey;
    padding: 0 45px;
	border-radius: 10px;
}

.events li {
    font-size: 32px;
	margin-top: 30px;
    margin-bottom: 55px;
}
.events strong {
	color:lightgrey;
	font-size:36px;
}
.events a {
	font-size: 20px;
	color: lightblue;
}
table{
	margin: 0px 10px;
	border-radius: 5px;
	border-collapse: collapse;
	width: 100%;
}

.lib-items{
	padding-right:25px;
	margin-top: 40px;
	background-color:rgba(6,6,6,0.5);
	color:white;
	border-color:white;
	align-content:center;
}
.lib-time h2 {
	padding: 0 50px;
	font-size:30px;
}
.lib-time th,td {
	background-color:rgba(150,150,150,0.2);
	font-size:20px;
	border: white solid 1px;
	text-align: center;
	padding: 10px;
}
.content-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.main-content {
    flex: 3;
    margin-right: 20px;
}

.abt {
	background-color:rgba(6,6,6,0.4);
	max-width:100%;
	display:flex;
	flex-flow: column;
	align-items: center;
    font-size: 28px;
	color: white;
	border-radius:10px;
}
.abt-main {
	background-image:url("https://img.freepik.com/premium-photo/bookshelves-library-with-old-books-3d-render-3d-illustration_717906-963.jpg");
	background-size: auto;
	background-position: center;
	background-repeat: repeat;
}
.lib-items li{
	padding:1%;
	margin-right: 5%;
	margin-left: 5%;
	font-size: 20px;
}
.lib-rules h2 {
	padding: 0 50px;
	font-size:30px;
}
.lib-serv h2 {
	padding: 0 50px;
	font-size:30px;
}
.lib-team h2 {
	padding: 0 50px;
	font-size:30px;
}
.quick-links {
	background-color: rgba(0,0,0,0.7);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	position: sticky;
	bottom:1;
	z-index:1000;
}
.quick-links a {
	color:lightblue;
}
.login {
	background-image:url("https://img.freepik.com/free-photo/book-library-with-open-textbook_1150-5916.jpg?t=st=1730608086~exp=1730611686~hmac=811b5ef52ad8f25e7548695a0c443f43da7e268dc0ab41b900e488022c5f69d1&w=1380");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height:100%;
	max-width: 100%;
	color:white;
	display:flex;
	justify-content:center;
	flex-direction: column;
	padding:20px;
	align-self: center;
}
.login form{

	display:flex;
	background-color: hsl(0, 0%, 100%);
	text-align:left;
	align-items:center;
	flex-direction:column;
	justify-content: center;
	padding:20px;
	border-radius:5px;
	margin-right: 20%;
	margin-left: 36.5%;
	margin-top:15%;
	font-size:15px;
	height: 600px;
	width: 350px;
	color: black;
}
.login p {
	display:flex;
	background-color: rgb(255, 255, 255);
	justify-content:center;
	margin: 0px 35%;
	margin-bottom:5%;
	border-radius: 5px;
	color: rgb(0, 0, 0);
}

.login input {
	width:auto;
	text-align:center;
	margin:5px;
}
.login button{
	margin:20px;
	width: 45%;
	background-color:rgb(255, 0, 0);
	border-radius:5px;
	font-style: normal;
	text-decoration: none;
}
.login a{
	color:rgb(0, 0, 0);
    text-decoration: none;
}
button {
	cursor:pointer;
	padding:1%;
	font-size: 20px;
	font-weight:bold;
}
button:hover {
	opacity:1;
}
.signin-text h1{
	font-size: 40px;
	color: rgb(0, 0, 0);
	display:flex;
	background-color: rgb(255, 255, 255);
	justify-content:center;
	margin: 0px 35%;
	margin-top: 250px;
	border-radius: 5px;
}
#cancelbtn {
	background-color:#db7474;
}
.row-link-row{
	background-color: rgb(255, 0, 0);
	color: white;
	display: flex;
	justify-content:flex-start;
	padding: 10px ;
	align-items: end;
	position: static;
	bottom:1;
	width:3000px;
	height:185px;
    text-decoration: none;
	margin-left: -20px;
}
.row-link-row:hover{
	border-radius: 10px;
	text-decoration: none;
	position: sticky;
	color: rgb(255, 255, 255);
	
}
.menu:hover{
	border-radius: 10px;
	color: rgb(255, 0, 0);
	text-decoration: none;
	color: rgb(255, 0, 0);
}
.menu a:hover{
	border-radius: 5px;
	background-color: white;
	text-decoration: none;
	color: rgb(255, 0, 0);
}
.menu a{
	text-decoration-style: none;
}
.social-footer a:hover{
	text-decoration: none;
	position: sticky;
	border-radius: 10px;
	background-color: white;
	color: rgb(255, 0, 0);
}
.row-link-row a{
	text-decoration: none;
	border-radius: 10px;
}

.signup {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height:100%;
	max-width: 100%;
	color:white;
	display:flex;
	justify-content:center;
	flex-direction: column;
	align-self: center;
}
.signup form{

	display:flex;
	background-color: hsl(0, 0%, 100%);
	align-self: center;
	justify-content: center;
	font-size:15px;
	height: 600px;
	width: 350px;
	color: black;
}


.signup input {
	width:auto;
	text-align:center;
	margin:10px;
}
.signup button{
	margin:20px;
	width: 45%;
	background-color:rgb(255, 0, 0);
	border-radius:5px;
	font-style: normal;
	text-decoration: none;
}
#myImg {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  div.gallery {
	padding: 6px;
	border: 1px solid #ccc;
  }
  
  div.gallery:hover {
	border: 1px solid #777;
  }
  
  div.gallery img {
	width: 100%;
	height: auto;
  }
  
  div.desc {
	padding: 15px;
	text-align: center;
  }
  
  * {
	box-sizing: border-box;
  }
  
  .responsive {
	padding: 10px;
	float: left;
	width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
	.responsive {
	  width: 49.99999%;
	  margin: 6px 0;
	}
  }
  
  @media only screen and (max-width: 500px) {
	.responsive {
	  width: 100%;
	}
  }
  
  .clearfix:after {
	content: "";
	display: table;
	clear: both;
  }
